*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;

}


html{

scroll-behavior:smooth;

}


body{

background:#f5f8ff;
color:#111;

}




header{

height:75px;

background:#050b16;

color:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

position:sticky;

top:0;

z-index:10;

}




.logo{

font-size:24px;

font-weight:bold;

}


.logo i{

color:#1d70ff;

}





nav{

display:flex;

align-items:center;

gap:25px;

}




nav a{

text-decoration:none;

color:white;

font-size:15px;

}




button{

cursor:pointer;

}




nav button,
.primary{

background:#1465ff;

color:white;

border:none;

padding:12px 25px;

border-radius:25px;

}




.menu{

display:none;

font-size:25px;

}









.hero{


background:#050b16;

color:white;

padding:80px 8%;

display:flex;

justify-content:space-between;

align-items:center;

min-height:600px;

}




.hero-text{

width:45%;

}



.small{

color:#8db2ff;

}



h1{

font-size:58px;

line-height:1.1;

margin:20px 0;

}



h1 span{

color:#1670ff;

}




.hero-text p{

color:#cbd5e1;

margin-bottom:25px;

}




.secondary{

padding:12px 25px;

border-radius:25px;

background:transparent;

border:1px solid white;

color:white;

}





.hero-image img{


width:520px;

border-radius:20px;

box-shadow:0 20px 50px black;


}




.stats{

display:flex;

gap:45px;

margin-top:35px;

}





.courses,
.extra{

padding:80px 8%;

}




h2{

font-size:38px;

margin:15px 0 40px;

}





.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}




.card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 10px 30px #ddd;

transition:.3s;

}



.card:hover{

transform:translateY(-10px);

}



.card i{

font-size:50px;

color:#1465ff;

}



.card button{

margin-top:15px;

background:#1465ff;

color:white;

border:none;

padding:10px 20px;

border-radius:20px;

}





.roadmap{

padding:80px 8%;

background:#eaf2ff;

text-align:center;

}



.steps{

display:flex;

justify-content:space-around;

}




.steps i{

background:#1465ff;

color:white;

padding:20px;

border-radius:50%;

font-size:25px;

}





.project-box{

display:flex;

gap:20px;

}


.project-box div{

background:white;

padding:30px;

border-radius:15px;

}





footer{

background:#050b16;

color:white;

text-align:center;

padding:20px;

}









@media(max-width:900px){


nav{

display:none;

flex-direction:column;

background:#050b16;

position:absolute;

top:75px;

right:0;

padding:30px;

}



.menu{

display:block;

}



.hero{

flex-direction:column;

}



.hero-text{

width:100%;

}



.hero-image img{

width:100%;

margin-top:40px;

}



.cards{

grid-template-columns:1fr;

}



.steps,
.project-box{

flex-direction:column;

gap:30px;

}



h1{

font-size:40px;

}


}
/* PROJECTS */


.projects,
.reviews,
.contact{

padding:90px 8%;

}


.section-title{

text-align:center;

margin-bottom:50px;

}



.project-container,
.review-container{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



.project-card,
.review-card{


background:white;

padding:35px;

border-radius:20px;

box-shadow:0 15px 40px #ddd;

transition:.3s;


}



.project-card:hover,
.review-card:hover{

transform:translateY(-10px);

}




.project-icon{

font-size:45px;

color:#1465ff;

}



.project-card button,
.contact button{


margin-top:20px;

background:#1465ff;

color:white;

border:none;

padding:12px 25px;

border-radius:25px;

}





.profile{


display:flex;

gap:15px;

align-items:center;

margin-bottom:20px;

}



.profile img{

width:60px;

height:60px;

border-radius:50%;

}



.stars{

margin-top:15px;

color:#ffb400;

}






.contact{

background:#eaf2ff;

}



.contact-box{

background:white;

padding:50px;

border-radius:25px;

display:grid;

grid-template-columns:1fr 1fr;

gap:50px;

box-shadow:0 15px 40px #ddd;

}





.contact-info p{

margin:20px 0;

}



.contact-info i{

color:#1465ff;

margin-right:10px;

}



form{

display:flex;

flex-direction:column;

gap:15px;

}



input,
textarea{


padding:15px;

border-radius:10px;

border:1px solid #ccc;

font-size:15px;

}



textarea{

height:120px;

}





@media(max-width:900px){


.project-container,
.review-container,
.contact-box{

grid-template-columns:1fr;

}


}